<style type="text/css">
.x.axis line,
.x.axis path {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}
.y.axis line,
.y.axis path {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

cw-wage-chart {
  width: 100%;
  height: 100%;
  display: block;
}

.btn-bigger {
    padding: 40px 50px 40px 50px;
    font-size: 60px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
</style>
<div class="area-upper">
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
	<br><br><br>
			<img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13962636_10210276262612172_8140712853023987191_n.jpg?oh=6c08629a642ec8e1151bea2caf06a976&oe=584E9840" class="img-responsive img-thumbnail">
		</div>	
	</div>
</div>
<div class="area-lower">
	<p class="comment-title">
		<span class="glyphicon glyphicon-question-sign"></span> 
		Industrial Robot In China?
	</p>
	<p class="comment-content">
		There are plenty of robotic companies that have come and gone in the past 20 years. It is a little bit late for a new company to think about getting into this industry; however, a company can still have a share with proper marketing and business strategy based on up-to-date information.
	</p>
	<br>
</div>

<div class="area-upper">
	<br><br><br>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<img src="http://www.connectingindustry.com/Data/Images/Image_Bank/28980/sawyer_blank_background.png" class="img-responsive img-thumbnail">
		</div>	
	</div>
</div>
<div class="area-lower">
	<p class="comment-title">
		<span class="glyphicon glyphicon-question-sign"></span> 
		Need Industrial Robot?
	</p>
	<p class="comment-content">
		<strong>Factory Booming</strong>
		<br>
		Manufacturing plants have increased dramatically over the past 10 years because the government encourages the development of domestic plants with low-cost loans and factory property incentives. As a result, there are countless plants in China.
		<br><br>
		<strong>Why … Industrial Robot?</strong>
		<br>
		The cost for producing each product has been increased dramatically for the past five years due to three critical reasons:<br><br>

		Age <br>
		Aging and diminishing factory-age workforce by the one-child policy of past regimes. <br><br>

		Cost <br>
		High cost of training and housing for a short-term transient workforce. <br><br>


		Wage <br>
		Average wage increased rapidly over the past five years.<br>
		(see below - clickable chart powered by d3.js)
		 <br><br>

		<cw-wage-chart></cw-wage-chart>
		
		
		
	</p>
</div>


<div class="area-upper">
	<br><br><br>
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
			<img src="http://veritusgroup.com/wp-content/uploads/2015/12/strategy-2015-Dec23.jpg" class="img-responsive img-thumbnail">
		</div>	
	</div>
</div>
<div class="area-lower">
	<p class="comment-title">
		<span class="glyphicon glyphicon-question-sign"></span> 
		What Marketing Strategy?
	</p>
	<p class="comment-content">
		<strong>Three Types of Clients</strong><br>
		There are 
		<strong><u>cost</u></strong>,
		<strong><u>comprehensive service</u></strong>, and
		<strong><u>specialty</u></strong> types of clients in China. Each company tends to target its own type of clients based on its own capacity, ability and resources in the robotics industry.
	</p><br><br>
	<p class="comment-title">
		<span class="glyphicon glyphicon-question-sign"></span> 
		What Business Strategy?
	</p>
	<p class="comment-content">
		<strong>Localization</strong>
		<br>
		Localization is used because there are many national policies implemented that might significantly affect a foreign enterprise’s business without advanced warning. Also, cultural differences would affect how the first line of workers operate a company’s robot. Therefore, I think it is very important to hire a <u><strong><a href="/resume" style="font-size:50px;">person</a></strong></u> who has plant-manufacturing experience in China and is able to speak English and Mandarin. If the company lacks an employee with these skills, it should partner with another local robotics company.
		<br><br><br><br><br>
		<div class="text-center">
			<a href="#/analysis" class="btn btn-lg btn-primary btn-bigger">To Analysis</a>	
		</div>
		
		
	</p>
</div>

<br><br><br><br>