<style>

	.area-upper {
		background-color:gray;
		border-width: 10px;
		border-color: gray;
		border-style: solid solid hidden solid;
	}
	

	.area-lower {
		border-style: hidden solid solid solid;
		border-width: 30px;
		border-color: gray;
		background-color:white;
		margin-top: -30px;
		padding: 65px 65px 65px 65px
	}

	.comment-title{
		font-family: 'Monospace';
		font-size: 50px;
		margin-bottom: 20px;
	}

	.comment-content{
		font-family: 'Times New Roman';
		font-size: 30px;	
		color:gray;
	}

	

	hr {
	  	display: block;
		border: 0;
		border-top: 1px solid black;
		margin: 40px 60px 0px 60px;
		background-color:black;
		color:black;
	}

	br {
		line-height: 150%;
	}

	span.glyphicon-list-size {
    	font-size: 25px;
    	color:gray;
	}

	span.glyphicon-text {
		font-size: 25px;	
		color:gray;
	}

	#customizedBtn {
	padding: 18px 28px;
    font-size: 70px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
	}
	.container-full {
	  margin: 0 auto;
	  width: 100%;
	}
	
</style>
<div class="container-full" ng-controller="ResumeCtrl">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row">
			<div class="area-upper">
				<br><br><br><br>
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<img src="https://scontent.xx.fbcdn.net/t31.0-8/12132611_10203605166849849_7421108928691160831_o.jpg"
							class="img-responsive img-thumbnail">
					</div>
				</div>
			</div>	

			<div class="area-lower">
				<p class="comment-title">
				<span class="glyphicon glyphicon-question-sign"></span> 
					Who Am I?
				</p>
				<p class="comment-content">
					I am a person who makes a continuous improvements every day because I desire to learn new things every moment. I like to bring new ideas to team discussions. I strongly believe that great work needs to be done by a great team with people who always crave to learn new things every single day.
				</p>
			</div>
		</div>
	</div>
	<!-- Who am I row -->
	


	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
			<div class="area-upper">
				<div class="row">
				<br><br><br><br>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<img src="http://www.ugc.ac.in/skill/images/pic_6.jpg" class="img-responsive img-thumbnail">
					</div>	
				</div>
			</div>
			<div class="area-lower">
				<p class="comment-title">
					<span class="glyphicon glyphicon-question-sign"></span> 
					Skills I have?
				</p>
				<p class="comment-content">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<ul class="list-group">

								<!-- Skill -->
								<li class="list-group-item list-group-item-success">
									<div class="text-center">
										<span class="glyphicon-text">Web Skill</span>	
									</div>
								</li>
								<li ng-repeat="skill in skills" class="list-group-item" >
									<span class="glyphicon glyphicon-glyphicon glyphicon-ok glyphicon-list-size"> {{ skill.category }}</span>
									<span class="pull-right glyphicon-text">{{ skill.name }}</span>
								</li>

								<!-- Language -->
								<li class="list-group-item list-group-item-info">
									<div class="text-center">
										<span class="glyphicon-text ">Language</span>	
									</div>
								</li>
								<li class="list-group-item" ng-repeat="language in languages">
									<span class="glyphicon glyphicon-glyphicon glyphicon-glyphicon glyphicon-globe glyphicon-list-size"> {{language.level}}</span>
									<span class="pull-right glyphicon-text">{{ language.name }}</span>
								</li>					

								<!-- Microsoft -->
								<li class="list-group-item list-group-item-danger">
									<div class="text-center">
										<span class="glyphicon-text ">Microsoft</span>	
									</div>
								</li>
								<li class="list-group-item" ng-repeat="microsoft in microsofts">
								
									<span class="glyphicon glyphicon-book glyphicon-list-size"> {{ microsoft.level }}</span>
									<span class="pull-right glyphicon-text">{{ microsoft.name }}</span>
								</li>					
							</ul>
						</div>
					</div>
					
				</p>
			</div>
		</div>
	</div>
	<!-- Skill row -->
	


	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
			<div class="area-upper">
				<div class="row">
					<br><br><br>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    
						    <div class="carousel-inner" role="listbox" >
						      <div class="item" ng-repeat="carousel in carousels" ng-class="{active:!$index}">
						        <img ng-src="{{carousel.url}}" class="img-responsive img-thumbnail img-carousel">
						        <div class="carousel-caption">
		        					<h3>{{carousel.name}}</h3>
		        					<p>{{carousel.subtitle}}</p>
		      					</div>
						      </div>
						    </div>
						    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						      <span class="sr-only">Next</span>
						    </a>
						</div>
					</div>
				</div>
			</div>	
			<!-- upper part -->

			<div class="area-lower">
				<p class="comment-title">
					<span class="glyphicon glyphicon-question-sign"></span> 
					Experience in Manufacturing Plants
				</p>
				<p class="comment-content">
					<strong>Interpreter</strong>- Being an intern in BYTE gave me a chance to practice my interpreting skills. It was not only a translating job because I strove to make meaning for the people I was serving instead of just converting words.<br><br>

					<strong>Kaizen</strong>- A Japanese word meaning continuous improvement. The concept is that small steps on a regular basis will lead to large improvements over time.
				</p>
			</div>
		</div>
	</div>
	<!-- Experience Row -->





	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
			<div class="area-upper">
				<div class="row">
					<br><br><br>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<div id="myCarouselP" class="carousel slide" data-ride="carousel">
						    
						    <div class="carousel-inner" role="listbox" >
						      <div class="item" ng-repeat="project in projects" ng-class="{active:!$index}">
						        <img ng-src="{{project.url}}" class="img-responsive img-thumbnail img-carousel">
						        <div class="carousel-caption">
		        					<h3>{{project.name}}</h3>
		        					<p>{{project.subtitle}}</p>
		      					</div>
						      </div>
						    </div>
						    <a class="left carousel-control" href="#myCarouselP" role="button" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#myCarouselP" role="button" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						      <span class="sr-only">Next</span>
						    </a>
						</div>
					</div>
				</div>
			</div>	
			<!-- upper part -->

			<div class="area-lower">
				<p class="comment-title">
					<span class="glyphicon glyphicon-question-sign"></span> 
					What I have done?
				</p>
				<p class="comment-content">
					<strong>Excel VBA Automation - </strong><br>
					<u>Scenario</u> <br>
					(1) Inaccurate input/output <br>
					(2) Time consuming  <br><br>

					<u>Output</u> <br>
					(1) Error free input/output<br>
					(2) Time reduced by 8 hours<br><br>

					<strong><a href="/rethinkrobotic">Interactive Single Page Application -</a></strong><br>
					(1) Responsive design <br>
					(2) Interactive bar chart powered by D3.js <br>
					(3) Angular directive <br>

				</p>
			</div>
		</div>
	</div>
	<!-- Project Row -->



	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
			<div class="area-upper">
				<div class="row">
					<br><br><br>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<div id="myCarouselE" class="carousel slide" data-ride="carousel">
						    
						    <div class="carousel-inner" role="listbox" >
						      <div class="item" ng-repeat="education in educations" ng-class="{active:!$index}">
						        <img ng-src="{{education.url}}" class="img-responsive img-thumbnail img-carousel">
						        <div class="carousel-caption">
		        					<h3>{{education.name}}</h3>
		        					<p>{{education.subtitle}}</p>
		      					</div>
						      </div>
						    </div>
						    <a class="left carousel-control" href="#myCarouselE" role="button" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#myCarouselE" role="button" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						      <span class="sr-only">Next</span>
						    </a>
						</div>
					</div>
				</div>
			</div>	
			<!-- upper part -->

			<div class="area-lower">
				<p class="comment-title">
					<span class="glyphicon glyphicon-question-sign"></span> 
					Education?
				</p>
				<p class="comment-content">
					<strong>Oakland University - Master</strong><br>
					Management Information Systems<br><br>

					<strong>Providence University - Bachelor</strong><br>
					International Business<br><br>

					
					

				</p>
			</div>
		</div>
	</div>
	<!-- Education Row -->


<style type="text/css">
cw-skill-analysis{
	width: 100%;
  	display: block;
}
</style>

	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
			<div class="area-upper">
				<br><br><br>
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
						<cw-skill-analysis></cw-skill-analysis>		
					</div>
				</div>
				
			</div>	
			<!-- upper part -->

			<div class="area-lower">
				<p class="comment-title">
					<span class="glyphicon glyphicon-question-sign"></span> 
					Skill Analysis
				</p>
				<p class="comment-content">
					<button class="btn btn-lg">Design</button>
					<button class="btn btn-lg">Design</button>
					<button class="btn btn-lg">Design</button>
					

				</p>
			</div>
		</div>
	</div>
	<!-- Analysis -->


	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1 text-center">
			<div style="background-color:gray;">
			<br><br><br><br><br><br><br><br><br>
			<a id="customizedBtn" href="mailto:chaoweichiu@gmail.com?&subject=Hello,%20Chao Wei&body=I%20would%20like%20to%20have%20a%20cup%20of%20coffee%20with%20you^_^" target="_blank" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-envelope"></span> Email Me!</a>
			<br><br><br><br><br><br><br><br><br>
			</div>

			
		</div>
	</div>
	<!-- Email Row -->

</div>




	

		

			
			
