<style>

	.area-upper {
		background-color:gray;
		border-width: 10px;
		border-color: gray;
		border-style: solid solid hidden solid;
	}
	

	.area-lower {
		border-style: hidden solid solid solid;
		border-width: 30px;
		border-color: gray;
		background-color:white;
		margin-top: -30px;
		padding: 65px 65px 65px 65px
	}

	.comment-title{
		font-family: 'Monospace';
		font-size: 50px;
		margin-bottom: 20px;
	}

	.comment-content{
		font-family: 'Times New Roman';
		font-size: 30px;	
		color:gray;
	}
	hr {
	  	display: block;
		border: 0;
		border-top: 1px solid black;
		margin: 40px 60px 0px 60px;
		background-color:black;
		color:black;
	}

	br {
		line-height: 150%;
	}
	.container-full {
	  margin: 0 auto;
	  width: 100%;
	}

	.no-gutter > [class*='col-'] {
    	padding-right:0;
    	padding-left:0;
	}
	.text-bigger{
		font-size: 30px;
	}	
	
	.btn.sharp {
  		border-radius:0;
	}

	.fixed-position-top{
		position:fixed;
		top: -3.5px;
    	left:1px;
	}
	.fixed-position-bottom{
		position:fixed;
		bottom: 0px;
    	left:1px;
	}

	.btn.activeBtn {
		background: white;
		color: black;
		font-size: 47px;
		border-color: black;
		border-width: 6.5px;
	}
	.btn.nonActiveBtn {
		background: white;
		font-size: 30px;
		color: black;
		border-color: black;
		border-width: 1px;
	}

	.btn.navBtn {
		padding: 30px 10px 30px 10px;
	    font-size: 30px;
	    line-height: normal;
	    -webkit-border-radius: 8px;
	       -moz-border-radius: 8px;
	            border-radius: 8px;	
	}
	
	



</style>
<div class="container-full">
	<div class="row">
		
		<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-1">
			<div ng-view></div>
		</div>
		<!-- Single Page Application -->
		
		<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-1 fixed-position-top" ng-controller="NavigationCtrl">
			<div class="row no-gutter">
				<div ng-repeat="bottom in bottoms" 
					class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a ng-href="#/{{bottom}}" 
						id="{{bottom}}"
						class="btn btn-lg btn-block sharp"
						ng-click="setActiveButton($index)">{{bottom}}</a>
				</div>
			</div>
		</div>
		<!-- Fixed Top Bar -->


		<div class="hidden-lg hidden-md col-sm-12 col-xs-12 fixed-position-bottom" ng-controller="NavigationCtrl">
			<div class="row no-gutter">
				<div class="row no-gutter">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button class="btn btn-lg btn-block btn-default navBtn sharp" ng-click="backPage()"><span class="glyphicon glyphicon-chevron-left"></span></button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<button class="btn btn-lg btn-block btn-default navBtn sharp" ng-click="nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></button>
					</div>
				</div>
			</div>
		</div>
		<!-- Fixed Top Bar -->
	</div>
</div>



	
