<style>

	.area-upper {
		background-color:gray;
		border-width: 10px;
		border-color: gray;
		border-style: solid solid hidden solid;
	}
	

	.area-lower {
		border-style: hidden solid solid solid;
		border-width: 30px;
		border-color: gray;
		background-color:white;
		margin-top: -30px;
		padding: 65px 65px 65px 65px
	}

	.comment-title{
		font-family: 'Monospace';
		font-size: 50px;
		margin-bottom: 20px;
	}

	.comment-content{
		font-family: 'Times New Roman';
		font-size: 30px;	
		color:gray;
	}

	

	hr {
	  	display: block;
		border: 0;
		border-top: 1px solid black;
		margin: 40px 60px 0px 60px;
		background-color:black;
		color:black;
	}

	br {
		line-height: 150%;
	}
	.container-full {
	  margin: 0 auto;
	  width: 100%;
	}

	.no-gutter > [class*='col-'] {
    	padding-right:0;
    	padding-left:0;
	}
	.text-bigger{
		font-size: 30px;
	}	
	.btn-navigation-top {
	    padding: 10px 10px 10px 10px;
	    font-size: 35px;
	    line-height: normal;
	    -webkit-border-radius: 8px;
	       -moz-border-radius: 8px;
	            border-radius: 8px;
	}
	.btn-navigation-bottom {
	    padding: 30px 10px 30px 10px;
	    font-size: 35px;
	    line-height: normal;
	    -webkit-border-radius: 8px;
	       -moz-border-radius: 8px;
	            border-radius: 8px;
	}

</style>
<div class="container-full">
	<div class="row">
		<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-1 ">
			<div ng-view></div>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="row no-gutter">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="#" class="btn btn-lg btn-block btn-default btn-navigation-top btn-primary active">Future</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="#" class="btn btn-lg btn-block btn-default btn-navigation-top">Analysis</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<a href="#" class="btn btn-lg btn-block btn-default btn-navigation-top">Conclusion</a>
			</div>
		</div>
</nav>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="row no-gutter">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="#" class="btn btn-lg btn-block btn-default btn-navigation-bottom">Back</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<a href="#" class="btn btn-lg btn-block btn-default btn-navigation-bottom">Next</a>
			</div>
		</div>
</nav>


