<style>

	.area-upper {
		background-color:gray;
		border-width: 10px;
		border-color: gray;
		border-style: solid solid hidden solid;
	}
	

	.area-lower {
		border-style: hidden solid solid solid;
		border-width: 30px;
		border-color: gray;
		background-color:white;
		margin-top: -30px;
		padding: 65px 65px 65px 65px
	}

	.comment-title{
		font-family: 'Monospace';
		font-size: 50px;
		margin-bottom: 20px;
	}

	.comment-content{
		font-family: 'Times New Roman';
		font-size: 30px;	
		color:gray;
	}

	

	hr {
	  	display: block;
		border: 0;
		border-top: 1px solid black;
		margin: 40px 60px 0px 60px;
		background-color:black;
		color:black;
	}

	br {
		line-height: 150%;
	}

</style>

<div class="col-lg-6 col-md-10 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-1">
	<div ng-view></div>	
	
</div>
